@import "tailwindcss";

@layer base {
  a {
    @apply text-lime-500;
  }
}

@layer components {
  .primary-btn {
    @apply w-full bg-lime-500 text-white font-medium rounded-md text-center hover:bg-lime-400 transition-colors;
  }

  .input-container {
    @apply relative;
  }

  .input-field {
    @apply bg-transparent border w-full focus:outline-none ring-1 focus:ring-2 ring-neutral-200 focus:ring-lime-500 rounded-md border-none placeholder:text-neutral-400 p-2;
  }

  .input-icon {
    @apply absolute right-3 top-1/2 -translate-y-1/2 h-6 w-6 z-10 cursor-pointer;
  }

  .pw-icon {
    @apply text-neutral-500;
  }

  .no-arrows {
    /* Remove spinner arrows in Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* Remove spinner arrows in Firefox */
    -moz-appearance: textfield;
  }

  .tab-nav-icon {
    @apply flex flex-col items-center gap-px;
  }
}

.mobile-container {
  min-height: auto;
}

@media (max-width: 96rem) {
  .mobile-container {
    min-height: 100dvh;
  }
}

.secondary-btn {
  background-color: #84cc16;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border-radius: 0.375rem;
  color: white;
  font-weight: 600;
}

.secondary-bth:hover {
  background-color: #a3e635;
  cursor: pointer;
  transition-property: color,
    background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(
    0.4,
    0,
    0.2,
    1
  );
  transition-duration: 150ms;
}

.loading {
  width: 25px;
  height: 25px;
  border: 10px solid #84cc16;
  border-radius: 50%;
  border-top-color: white;
  animation: spin 1s ease-in-out
    infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.float-icon {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  bottom: 96px;
  right: 32px;
  color: white;
  background-color: #84cc16; /* lime-500 */
  border-radius: 50%;
  transition: background-color 150ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

@media (hover: hover) {
  .float-icon:hover {
    background-color: #a3e635; /* lime-400 */
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
